<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="2.0"/>
    <arg name="z" default="0.0"/>
    <arg name="R" default="0.0"/>
    <arg name="P" default="0.0"/>
    <arg name="Y" default="0.0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="my_vehicle" default="iris"/>
    <!--arg name="world" default="$(find dyn_object_tracker)/worlds/test2_static.world"/-->
    <!--arg name="world" default="$(find dyn_object_tracker)/worlds/test1_moreactor.world"/-->
    <arg name="sdf" default="$(find ahpf_planner)/gazebo/models/$(arg my_vehicle)/$(arg my_vehicle).sdf"/>
<node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

</launch> 
