<?xml version="1.0"?>
<launch>
<node pkg="ahpf_planner" type ="chen_filter_rgb" name="chen_filter_rgb" output="screen">
        
<!--param name="input"       type="string" value="/camera/depth/color/points"/--> 
<param name="input"       type="string" value="/camera/depth/points"/> 
<param name="cut_dis"       type="double" value="-10.0"/> 
<param name="voxel_size"       type="double" value="0.1"/> 

<param name="n_r"       type="double" value="0.24"/> 
<param name="n_n"       type="int" value="18"/> 
<param name="std"       type="double" value="1.2"/> 
<param name="MK"        type="int" value="30"/> 
<param name="use_current_time"  type="bool" value="false"/>
<param name="if_rgb_pcl"  type="bool" value="false"/>
</node>
</launch>
