<?xml version="1.0"?>
<launch>    
    <node pkg="mav_sim_gazebo" type="sim.sh" 
    name="launch_sim_world" output="screen">
    </node>
	<include file="$(find fuxi-planner)/launch/plc_filter_rgb.launch">
	</include>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find fuxi-planner)/launch/ccmapping_planning_demo.rviz" required="true" />
</launch>
